* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.badge {
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: 5px 20px;
    text-transform: uppercase;
}

.badge-green {
    background: #17a14c;
}
.badge-red {
    background: #c62a25;
}

img {
    width:10%;
}

p {
    font-family: "Candara";
    font-size: 30px;
    padding-left: 3%;
}

table {
    border-spacing: 0;
    background-color:#ffffff;
    padding-left: 1%;
} 

td {
    border-bottom: solid hwb(281 79% 13%);
    font-family: "Times New Roman";
    height:50px;
    width:200px;
}

th {
    border-bottom: solid hwb(281 79% 13%);
    color:hsl(140, 6%, 62%);
    font-weight: normal;
    font-size: 20px;
    font-family: "Candara";
    height:50px;
    width:200px;
}

tr {
    text-align:center;
}

tr:nth-child(even) {
    background-color: rgb(226, 205, 238);
    border: solid hsl(180, 85%, 74%);
  }